@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head-mainbox {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  max-width: 100vw;
  height: 70px;
  background-color: rgb(37, 36, 36);
  color: white;
}

.head-mainbox p{
  font-size: 30px;
  font-weight: 600;
}

.head-logo{
  color: yellow;
}

.head-navbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;

}

.head-navbar ul {
  display: flex;
  flex-direction: row;
}

.head-navbar ul li {
 list-style: none;
}

.head-link {
  margin: 5px 20px;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  text-decoration: none;
  
  

}







.inc-mainbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  height: 90vh;
  background-color: white;

}

.inc-subbox{
  width: 60%;
  height: 90%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inc-heading{
  text-align: center;
  margin: 10px;
  font-size: 30px;
  font-weight: 600;
  color: black;

}

.inc-cambox{
  width: 70% ;
  height: auto;
  margin: 5px;
  box-shadow: 1px 1px 9px;
  border:none;
  border-radius: 20px;
 
}

.inc-camera{
height: 100%;
width:100%;
background-color: black;
border-radius: 20px;
}


.iocl{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 40px;
  font-weight: 600;
  color: red;
}